
<h2><i>Please sign-in...</i></h2>
<form method="POST" action="/auth/signin">
  <input type="email" name="email" placeholder="Please enter a valid email address" />
  <input type="password" name="password" placeholder="Please enter a password greater than 6 characters" />

  <button type="submit" class="waves-effect waves-light btn">Sign In</button>
</form>


<h2><i>...or register</i></h2>
<form method="POST" action="/auth/register">
  <input type="email" name="email" placeholder="Please enter a valid email address" />
  <input type="password" name="password" placeholder="Please enter a password greater than 6 characters" />
  <input type="password" name="password_confirmation" placeholder="Please re-enter your password" />

  <button type="submit" class="waves-effect waves-light btn">Register</button>
</form>
