<footer class="page-footer transparent">
  <p class="teal-text text-darken-2">Student project, SEI26, <a href="https://generalassemb.ly/">General Assembly</a>, Seattle, WA. Aug. 2019.</p>
    <!-- <a href="/" class="teal-text text-darken-2"></a> -->
  </footer>