<footer class="page-footer transparent">
    <a href="/" class="teal-text text-darken-2">Link</a>
    <a href="/" class="teal-text text-darken-2">Link</a>
    <a href="/" class="teal-text text-darken-2">Link</a>
  </footer>