<nav class="transparent">
  <ul>
    <li>
      <a href="/" class="teal-text text-darken-2">Home</a>
    </li>
    <% if (customer) { %>
    <% if (customer.firstname) { %>
    <li>
      <a href="/preferences" class="teal-text text-darken-2">My Preferences</a>
    </li>
    <% } else { %>
      <li>
      <a href="/preferences" class="teal-text text-darken-2">Preferences</a>
    </li>
    <% }; %>
    <li>
      <a href="/auth/signout" class="teal-text text-darken-2">Sign Out</a>
    </li>
    <% } else { %>
    <li>
      <a href="/auth" class="teal-text text-darken-2">Sign In / Register</a>
    </li>
    <% }; %>
  </ul>
</nav>