<div class="row">
  <div class="col s12 center">
    <h3>Foot on Ferry gets you there on time!</h3>
    <h6>Never miss your boat again, or worse, sit around waiting for the next one when you could be at happy
      hour.</h6>
  </div>
</div>

<div class="row">
  <div class="col s9">
    <img src="/images/missedboat.png">
  </div>
  <div class="col s3">
      <p>Foot on Ferry will someday provide you with the information you need, intellgent alerts and notifications,
        so that you don't have to check schedules, recieve "estimated" alerts, vessel ETA's, or worry about where you are
        and how long it will take you to travel to the terminal. Foot on Ferry is designed for walking and cycling
        commuters, to understand where you are, your typical travel speeds, and let you know when you should plan your
        departure to make it to your preferred ferry using actual, not scheduled, conditions.
        <p>Boat's run late. Why get to the terminal early if you don't need to? Maybe you can catch an earlier, late
          running boat?</p>
        <p>Enjoy another happy hour sushi set. Stop at the market for some flowers. We'll let you know when you need to
          get moving to make your boat. </p>
          <p>Just in time.</p>  
  
    </div>
  </div>