<h1>Hello routes2.</h1>

<!-- 

<% journeys.forEach(j => { %>
  <p><%= j.SailingID %> </p>
<% }) %>

 -->

  <div style="width:75%">
  <table id="journeys" class="display" style="width:100%">
    <thead>
        <tr>
            <th>C1</th>
            <th>C2</th>
            <th>C3</th>
            <th>C4</th>
            <th>C5</th>
            <th>C6</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>C1</th>
            <th>C2</th>
            <th>C3</th>
            <th>C4</th>
            <th>C5</th>
            <th>C6</th>
      </tr>
    </tfoot>
  </table>
  </div>


<script>

var data = [
    [
        "Tiger Nixon",
        "System Architect",
        "Edinburgh",
        "5421",
        "2011/04/25",
        "$3,120"
    ],
    [
        "Garrett Winters",
        "Director",
        "Edinburgh",
        "8422",
        "2011/07/25",
        "$5,300"
    ]
]

$('#journeys').DataTable( {
    data: data
} );


</script>